

*.jar
*.pgn
*.xml

!scalachessgui.jar

!/guidescriptors/main.xml
!/guidescriptors/defaults.xml
!/guidescriptors/editpgn.xml
!/guidescriptors/settings.xml
!/guidescriptors/savepgnas.xml
!/guidescriptors/infodialog.xml
!/guidescriptors/confirmdialog.xml
!/guidescriptors/promotedialog.xml
!/guidescriptors/promotedialoganti.xml
!/guidescriptors/boardsettings.xml
!/guidescriptors/setupboard.xml
!/guidescriptors/bookcomment.xml

/book
/books
/games
/sorted
/pgns

target/

log.txt

